pyproj==1.9.5.1
pygdal>=1.10.1.0,<=1.10.1.999
shapely[vectorized]==1.6b2
descartes==1.0.2
tifffile==0.10.0

# tflearn, pinned to an arbitrary commit
git+https://github.com/tflearn/tflearn.git@4fef666

